@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
   font-family: "Roboto", sans-serif;
}
.container {
   border: 1px #000000 solid;
   width: 400px;
   height: 800px;
   margin: 20px auto;
   background: url(../images/road.png);
   background-size: cover;
}
.score {
   margin: 0 auto;
   width: 400px;
}
.score::after {
   clear: both;
   content: "";
   display: table;
}
#current-score {
   float: left;
   margin: 10px 0;
}
#highest-score {
   float: right;
   margin: 10px 0;
}
#bullets {
   text-align: center;
}
