@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
* {
   margin: 0;
   padding: 0;
   font-family: "Noto Sans JP", sans-serif;
}
#container {
   border: 1px #000000 solid;
   width: 288px;
   height: 608px;
   margin: 20px auto;
   background: url(../images/bg-bot.png) no-repeat bottom right;
}
