* {
   margin: 0px;
   padding: 0px;
}

a {
   text-decoration: none;
   color: black;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.clearfix {
   overflow: auto;
}
.clearfix:after {
   content: "";
   clear: both;
   display: table;
}
