@media only screen and (min-width: 668px) {
   .container {
      min-width: 41.75em;
   }
   .login_nav {
      width: 30%;
      margin: 16px 0 0 0;
   }
   .sub_nav a {
      font-size: 15px;
   }

   .footer {
      background: #727272;
      width: 100%;
   }
   .footer_nav {
      margin: 10px 0;
   }
   .footer_nav li {
      list-style-type: disc;
      float: left;
      margin-right: 30px;
   }
   .footer_nav ul .footer-first {
      list-style-type: none;
   }
   .footer_nav a {
      font-size: 11px;
   }
   .copyright {
      font-size: 11px;
      float: right;
      margin-bottom: 10px;
   }
}

@media only screen and (min-width: 768px) {
   .container {
      min-width: 48em;
   }
   .search {
      display: block;
      width: 46.666667%;
   }

   .search_btn {
      width: 53px;
      float: left;
      margin-left: 2px;
   }

   .login_nav {
      width: 20%;
      height: 100%;
      float: right;
      margin-bottom: 20px;
   }
   .main {
      width: 35em;
      float: left;
   }
   .sidebar {
      width: 12em;
      display: block;
      height: 608px;
   }
   .content_img {
      width: 70px;
   }
   .content_info {
      width: 440px;
   }
}

@media only screen and (min-width: 902px) {
   .notification {
      float: right;
   }
   .login_nav {
      margin: 25px 0 16px 0;
   }
   .body {
      margin: 30px 0px;
   }
}

@media only screen and (min-width: 1020px) {
   .container {
      max-width: 62.625em;
      margin: 0 auto;
      padding: 0 31px;
   }
   .login_nav {
      margin: 28px 0 16px 0;
   }

   .body_sidebar {
      width: 195px;
      float: left;
      background: #f5f5f5;
      height: 608px;
      display: block;
      margin-right: 26px;
   }
   .body_sidebar_title {
      background: #2fc1da;
      font-size: 18px;
      color: #fff;
      width: 100%;
   }
   .body_sidebar_title p {
      padding: 10px 10px;
   }
   .body_sidebar_item a {
      font-size: 12px;
      display: block;
      padding: 10px 6px;
   }
   .body_sidebar_item a:hover {
      background: #fff;
   }
   .sidebar_text {
      width: 150px;
      margin: 5px;
   }
   .sidebar_icon {
      width: 20px;
      margin: 5px;
      display: inline;
   }
   .body_sidebar_item span {
      float: right;
   }
   .sidebar_download {
      background: url(../images/sidebar_download.png) no-repeat top left;
      width: 12px;
      height: 12px;
   }
   .sidebar_burger {
      background: url(../images/sidebar_burger.png) no-repeat top left;
      width: 12px;
      height: 7px;
   }
   .sidebar {
      margin-left: 20px;
      width: 11.5em;
      display: block;
   }
   .main {
      width: 35em;
      display: inline;
   }
}
