/**----- For Best Work Enviromnent -----**/
.env {
   margin: 40px 0;
   background: url("../images/work-env.jpg") no-repeat top left;
}
.env-background {
   background: #313030;
   width: 100%;
}
.env-content {
   background: #313030;
   padding: 30px;
   max-width: 555px;
}
.env-content h3 {
   color: #ffffff;
   margin: 30px 0;
}
.env-content p {
   font-size: 0.875em;
   color: #999999;
}
.env-word {
   position: relative;
}
.env-word .under-line {
   position: absolute;
   background: #3baafe;
   top: 30px;
   left: 88px;
}
.env-description {
   margin: 30px 0;
}

.env-cards article {
   display: inline-block;
   width: 100%;
   margin: 10px;
}
.env-cards h3 {
   margin: 20px 0;
   font-size: 0.875em;
}
.env-cards article h3 span {
   width: 18px;
   height: 18px;
   margin: 8px;
}
@media only screen and (min-width: 570px) {
   .env-background {
      width: 90%;
      float: right;
   }
}
@media only screen and (min-width: 768px) {
   .env-background {
      width: 60%;
   }
}

@media only screen and (min-width: 1170px) {
   .env-background {
      width: 49%;
   }
   .env-cards article {
      width: 45%;
   }
}
