/**-----For Footer------**/
footer {
   margin: 30px 0 0 0;
   background: #555555;
   text-align: center;
}
.footer {
   padding: 20px 0;
   margin: 0 30px;
}
.footer-cards article {
   display: inline-block;
   text-align: start;
   margin: 0 20px 10px 0;
}
.footer-card1 {
   width: 280px;
}
.footer-logo {
   margin: 18px 0;
}
.footer-logo .icon-sog {
   width: 20px;
   height: 20px;
   margin: 4px;
}
.footer-logo .logo-sog {
   width: 141px;
   padding: 0px;
   margin: 5px;
}

.footer-card1 p {
   margin: 15px 0;
}
.footer-social {
   margin: 15px 0px;
}
.footer-social div {
   width: 24px;
   height: 24px;
   padding-top: 5px;
}

.footer-cards h3 {
   color: #ffffff;
   margin: 32px 0;
}
.footer-address {
   margin: 32px 0;
}
.footer-email {
   margin: 20px 0;
}
.footer-card2 span {
   margin: 0 8px 0 0;
}
.footer-phone1 {
   margin-top: 20px;
}
.footer-phone2 {
   margin-bottom: 20px;
   padding-left: 28px;
}
.footer-card3 p {
   padding: 3px 0 2px 0;
}
.footer-card4 form input {
   background: #b6b6b6;
   border: none;
   outline: none;
   padding: 10px;
   margin: 8px 0;
}
.footer-card4 {
   width: 380px;
}
.footer-form1 input {
   width: 44%;
}
.footer-card4 form textarea {
   background: #b6b6b6;
   border: none;
   outline: none;
   padding: 12px;

   width: 94%;
   height: 58px;
}
.footer-form3 input {
   width: 100%;
   transition: 0.4s;
}
.footer-form3 input:hover {
   background: #777777;
}
.footer-seperator {
   width: 100%;
   height: 2px;
   background: #868686;
}
.copyright {
   margin: 8px;
   padding: 8px;
}
