p {
   font-size: 0.875em;
}
.section-header {
   color: #3baafe;
   text-align: center;
}
.section-header .under-line-word {
   position: relative;
}

.section-header .under-line {
   background: #b6b6b6;
   position: absolute;
   top: 34px;
   left: 20px;
}
.under-line {
   width: 60px;
   height: 3px;
   background: #ffffff;
   transition: 0.3s;
}
.sog-icon {
   width: 18px;
   height: 18px;
}
.arrow-previous,
.arrow-next {
   display: inline-block;
   width: 35px;
   height: 35px;
   border-radius: 50%;
}
.arrow-previous:hover,
.arrow-next:hover {
   background: #3baafe;
}
