.how {
   margin: 60px 0; /* increase at larger screen*/
   background: #7a7878;
   padding: 84px 0;
}
.how article {
   margin: 0 40px;
   background: #ebebeb;
   padding: 40px 30px; /* increase at larger screen*/
   max-width: 870px;
}
.how article h2,
h3 {
   color: #777777;
}
.how article p {
   color: #999999;
}
.how article h2 {
   margin-bottom: 20px;
}
.how article h2 span {
   position: relative;
}
.how article h2 .under-line {
   background: #3baafe;
   position: absolute;
   top: 34px;
   left: 30px;
}
.how-card {
   margin: 40px 40px 40px 0;
}
.how-card-icon {
   width: 37px;
   height: 37px;
   background: #ffffff;
   border-radius: 50%;
   margin-right: 20px;
   text-align: center;
}
.how-card-icon img {
   margin-top: 10px;
}
.how-card-content {
   width: 60%;
}
