.left {
   float: left;
}
.right {
   float: right;
}
.wrapper {
   width: 100%;
}
.container {
   margin: 0 auto;
}

@media only screen and (min-width: 1170px) {
   .container {
      width: 73.125em;
   }
}
