.quality {
   margin: 30px 0;
   background-color: #fafafa;
}

.quality-content {
   margin: 0 30px;
   padding-bottom: 30px;
}
.quality-content article {
   margin: 30px;
}
.quality-img {
   padding: 40px 0px;
}
.quality-img img {
   width: 100%;
   height: auto;
}
.quality-text h2 {
   color: #ffffff;
}
.quality-text h2 span {
   position: relative;
}
.quality-text h2 .under-line {
   background: #3baafe;
   position: absolute;
   top: 36px;
   left: 30px;
}
.quality-desctiption {
   margin: 20px 0;
}

.quality-points {
   margin: 20px 0;
   width: 100%;
}
.quality-point {
   margin: 40px 0;
}
.quality-point-img {
   width: 36px;
   height: 36px;
   background: #ffffff;
   border-radius: 50%;
   display: block;
}
.quality-point-img img {
   margin: 10px;
}
.quality-point p {
   width: 80%;
   margin-left: 20px;
}
@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1170px) {
   .quality {
      background: url("../images/quality-bg.png") no-repeat top right;
   }
   .quality-text {
      height: 100%;
      width: 100%;
   }
   .quality .quality-content article {
      width: 44%;
      display: inline-block;
   }
   .quality-img {
      float: left;
   }
   .quality-text {
      float: right;
   }
   .quality-text p {
      font-size: 0.875em;
   }
}
