/**----- Media Queries -----**/
@media only screen and (min-width: 570px) {
   /**----- For Why Choose us -----**/
   .why-card-description {
      width: 200px;
   }
   /**----- For Best Work Enviromnent -----**/
   .env-background {
      width: 90%;
      float: right;
   }
   /**----- For Stories -----**/
   .stories-card-1 {
      padding: 60px 30px 0 0;
      width: 334px;
   }
   .speech-bubble-comma {
      text-align: end;
      margin: -24px -26px 0 0;
      display: block;
   }
   /**-----For Some Fun Facts**/
   .facts article {
      margin: 20px 60px;
   }
   /**-----For Footer------**/
   .footer-card1 {
      width: 280px;
   }
   .footer-card4 {
      width: 380px;
   }
   .footer-name,
   .footer-email {
      width: 70%;
   }
}
@media only screen and (min-width: 768px) {
   /*-----For Banner-----*/
   .banner-content {
      margin: 18% 30px;
   }
   .sec1-card article p {
      color: #9f9f9f;
      font-size: 1em;
   }
   /**----- For Section -1 -----**/
   .sec1-card article {
      margin: 60px 10px;
      width: 280px;
   }
   .why article {
      padding: 48px 0;
   }
   /**-----Why Choose Us-----**/
   .why h2,
   .why-description,
   .why-details {
      margin: 48px;
   }
   /**----- For What We DO -----**/
   .what-card p {
      font-size: 0.75em;
   }
   /**-----For How We Work -----**/
   .how-card {
      width: 30%;
      display: inline-block;
   }
   /**-----For Meet Our Team -----**/
   .team-card {
      width: 46%;
   }
   .team-name {
      width: 160px;
   }

   .team-position {
      width: 136px;
   }
   /**----- For Best Work Enviromnent -----**/
   .env-background {
      width: 60%;
   }
   .env {
      margin: 80px 0;
   }
   /**-----For Some Fun Facts**/
   .facts article {
      margin: 20px;
   }
   .footer-name,
   .footer-email {
      width: 44%;
   }
}
@media only screen and (min-width: 1170px) {
   /*-----For Header-----*/
   .nav-logo {
      width: 29%;
   }
   .nav-links {
      width: 60%;
      display: inline;
   }
   .nav-links ul {
      float: right;
      margin: 0 30px;
   }
   .nav-links ul li {
      display: inline;
      width: 60px;
   }
   .burger-menu {
      display: none;
   }
   .nav-links ul li:hover {
      border-bottom: 3px solid #777777;
   }
   /**-----For Meet Our Team -----**/

   .team-card {
      width: 48%;
   }

   /**-----For Quality of Our Work-----**/
   .quality {
      background: url("../images/quality-bg.png") no-repeat top right;
   }
   .quality-text {
      height: 100%;
      width: 100%;
   }
   .quality-article {
      width: 44%;
      display: inline-block;
   }
   .quality .quality-content article {
      width: 44%;
      display: inline-block;
   }
   .quality-img {
      float: left;
   }
   .quality-text {
      float: right;
   }
   .quality-text p {
      font-size: 0.875em;
   }
   /**-----For Our Portfolio-----**/
   .portfolio-content {
      margin: 0;
   }
   /**----- For Best Work Enviromnent -----**/
   .env-background {
      width: 49%;
   }
   .env-cards article {
      width: 45%;
   }
   /**-----For Stories-----**/
   .stories-img {
      bottom: 140px;
   }
}
