/**----- For Section -1 -----**/
.section-1 {
   margin: 40px 0;
}
.sec1-card {
   margin: 0px 30px;
   text-align: center;
}
.sec1-card article {
   background: #f5f5f5;
   padding: 49px 30px 30px 30px;
   margin: 30px 10px;
   position: relative;
   display: inline-block;
   width: 280px;
   text-align: start;
}
.sec1-icon {
   position: absolute;
   top: -30px;
   left: 30px;
   background: #555555;
   width: 60px;
   height: 60px;
   text-align: center;
   border-radius: 50%;
   border: 5px solid #ffffff;
   transition: 0.3s;
}
.sec1-icon img {
   margin: 16px;
}
.sec1-card article h3 {
   font-family: "Noto Sans", sans-serif;
   margin: 12px 0 20px 0;
   color: #777777;
}
.sec1-card article p {
   color: #9f9f9f;
   font-size: 1.125em; /*Decrease Font size on larger screens*/
}
.sec1-card h3 .under-line {
   margin: 4px 0 0 190px;
}
.sec1-card-3 h3 .under-line {
   margin: 4px 0 0 170px;
}
.sec1-icon {
   position: absolute;
   top: -30px;
   left: 30px;
   background: #555555;
   width: 60px;
   height: 60px;
   text-align: center;
   border-radius: 50%;
   border: 5px solid #ffffff;
   transition: 0.3s;
}
.sec1-icon img {
   margin: 16px;
}
.sec1-icon:hover {
   background: #3baafe;
}
.sec1-icon:hover + h3 .under-line {
   background: #3baafe;
}
@media only screen and (min-width: 768px) {
   .sec1-card article p {
      color: #9f9f9f;
      font-size: 1em;
   }
   .sec1-card article {
      margin: 60px 10px;
   }
}

@media only screen and (min-width: 1170px) {
}
