/**-----For Stories-----**/
.stories {
   margin: 60px 0 0 0;
   background: #f5f5f5; /* fallback for old browsers */
   background: -webkit-linear-gradient(
      to bottom,
      #fefefe,
      #f5f5f5
   ); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
      to bottom,
      #fefefe,
      #f5f5f5
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.stories-content {
   text-align: center;
}
.stories-content article {
   display: inline-block;
}
.stories-card-1 {
   text-align: start;
   padding: 60px 30px;
   width: 334px;
}
.stories-speechbubble {
   width: px;
   background: #fff;
   padding: 24px;
   border-radius: 5px;
}
.speech-bubble-quote {
   margin-top: -50px;
}
.stories-speech-txt {
   padding: 12px;
}
.speech-bubble-comma {
   text-align: end;
   margin: -24px -26px 0 0;
}
.stories-details {
   text-align: end;
}
.stories-details h4 {
   color: #777777;
}
.stories-card-2 {
   height: 427px;
   overflow: hidden;
}
.stories-card-3 {
   display: grid;
   place-items: center;
}

.stories-img {
   width: 134px;
   height: 134px;
   position: relative;
   overflow: hidden;
   border-radius: 50%;
   border: 8px #fff solid;
   margin: 20px;
   display: inline-block;
}

.stories-img img {
   display: inline;
   margin: 0 auto;
   margin-left: -25%;
   height: 100%;
   width: auto;
}

@media only screen and (min-width: 1170px) {
   .stories-img {
      bottom: 140px;
   }
}
