/**-----General -----**/
p {
   font-size: 0.875em;
}
.section-header {
   color: #3baafe;
   text-align: center;
}
.section-header .under-line-word {
   position: relative;
}

.section-header .under-line {
   background: #b6b6b6;
   position: absolute;
   top: 34px;
   left: 20px;
}
.under-line {
   width: 60px;
   height: 3px;
   background: #ffffff;
   transition: 0.3s;
}
.sog-icon {
   width: 18px;
   height: 18px;
}
.arrow-previous,
.arrow-next {
   display: inline-block;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   margin-top: 10px;
}
.arrow-previous:hover,
.arrow-next:hover {
   background: #3baafe;
}

/*-----For Header-----*/
header {
   width: 100%;
   background: #fafafa;
}
.nav-bar {
   width: 100%;
   display: inline;
}
.nav-logo {
   width: 50%;
   margin: 10px 30px;
}
.icon-sog {
   width: 41px;
   height: 41px;
}
.logo-sog {
   margin: 10px;
   width: 144px;
}
.nav-menu {
   width: 10%;
   margin: 14px 30px;
}
.burger-menu {
   width: 32px;
   height: 32px;
}
.nav-links {
   width: 100%;
   display: none;

   color: #999999;
   font-size: 0.875em;
   text-align: center;
   font-weight: 600;
}
.nav-links ul li {
   margin: 6px;
}
.nav-links .active {
   border-bottom: 3px solid #3baafe;
}
.nav-menu:hover + .nav-links {
   display: block;
   float: left;
}
/*-----For Banner-----*/
.banner {
   background: url("../images/banner.jpg");
}
.banner-content {
   margin: 20% 30px;
}
.banner-text {
   text-align: end;
   color: #ffffff;
   font-size: 1.5em;
}
.banner-text .banner-shade {
   color: #e6e6e6;
}
.banner-text .banner-gray {
   color: #fafafa;
}
.banner-text .banner-life {
   color: #3baafe;
}
.banner-btn {
   text-align: end;
   margin: 6% 0;
}
.banner-btn button {
   font-size: 1.125em;
   font-weight: bold;
   padding: 12px;
   border: none;
   transition: 0.4s;
}
.banner-btn1 {
   width: 140px;
   margin-right: 10px;
   background: #fff;
   color: #777777;
}
.banner-btn2 {
   width: 150px;
   background: #555555;
   color: #fff;
}
.banner-btn1:hover {
   color: #fff;
   background: #777777;
   box-shadow: inset 0 0 0 4px #ffffff;
}
.banner-btn2:hover {
   color: #555555;
   background: #fff;
   box-shadow: inset 0 0 0 4px #ffffff;
}
/**----- For Section -1 -----**/
.section-1 {
   margin: 40px 0;
}
.sec1-card {
   margin: 0px 30px;
   text-align: center;
}
.sec1-card article {
   background: #f5f5f5;
   padding: 49px 30px 30px 30px;
   margin: 30px 10px;
   position: relative;
   display: inline-block;
   text-align: start;
}
.sec1-icon {
   position: absolute;
   top: -30px;
   left: 30px;
   background: #555555;
   width: 60px;
   height: 60px;
   text-align: center;
   border-radius: 50%;
   border: 5px solid #ffffff;
   transition: 0.3s;
}
.sec1-icon img {
   margin: 16px;
}
.sec1-card article h3 {
   font-family: "Noto Sans", sans-serif;
   margin: 12px 0 20px 0;
   color: #777777;
}
.sec1-card article p {
   color: #9f9f9f;
   font-size: 1.125em; /*Decrease Font size on larger screens*/
}
.sec1-underline-word {
   position: relative;
}
.sec1-underline-word .under-line {
   position: absolute;
   top: 30px;
   left: 30px;
}
.sec1-icon {
   position: absolute;
   top: -30px;
   left: 30px;
   background: #555555;
   width: 60px;
   height: 60px;
   text-align: center;
   border-radius: 50%;
   border: 5px solid #ffffff;
   transition: 0.3s;
}
.sec1-icon img {
   margin: 16px;
}
.sec1-icon:hover {
   background: #3baafe;
}
.sec1-icon:hover + h3 .under-line {
   background: #3baafe;
}
/**-----Why Choose Us-----**/
.why {
   background: url("../images/portfolio-img2.jpg") repeat;
   text-align: center;
}
.why article {
   background: #f5f5f5;
   margin: 0 30px;
   padding: 32px 0;
   max-width: 720px;
   display: inline-block;
   text-align: start;
}
.why h2,
.why-description,
.why-details {
   margin: 32px; /*Increase at larger screens*/
}
.why h2 {
   color: #ffffff;
}
.why-details {
   text-align: center;
}
.why article h2 span {
   position: relative;
}
.why article h2 .under-line {
   background: #3baafe;
   position: absolute;
   top: 36px;
   left: -8px;
}

.why-cards {
   margin-bottom: 32px;
   display: inline-block;
   text-align: start;
}
.why-card-description {
   margin: 0 20px;
}
.why-icon {
   width: 60px;
   height: 60px;
   background: #ffffff;
   text-align: center;
}
.why-icon img {
   margin: 16px 13px;
}

.why article p {
   color: #999999;
}
.why h2:hover {
   color: #3baafe;
}
.plane-active {
   display: none;
}
.icon-plane:hover .plane-inactive {
   display: none;
}
.icon-plane:hover .plane-active {
   display: inline;
}
.anchor-active {
   display: none;
}
.icon-anchor:hover .anchor-inactive {
   display: none;
}
.icon-anchor:hover .anchor-active {
   display: inline;
}
.code-active {
   display: none;
}
.icon-code:hover .code-inactive {
   display: none;
}
.icon-code:hover .code-active {
   display: inline;
}
.wheel-active {
   display: none;
}
.icon-wheel:hover .wheel-inactive {
   display: none;
}
.icon-wheel:hover .wheel-active {
   display: inline;
}
/**----- For What We DO -----**/
.what {
   margin: 40px 0;
}
.what article {
   margin: 0 30px;
}
.what-items {
   text-align: center;
}
.what-card {
   width: 270px;
   margin: 30px 0px;
   display: inline-block;
   text-align: start;
}
.what-card-header h3 {
   margin: 10px;
   color: #555555;
}
.what-icon {
   width: 43px;
   height: 43px;
   background: #555555;
   border-radius: 50%;
   text-align: center;
   display: inline-block;
   margin-right: 10px;
   transition: 0.3s;
}
.what-icon img {
   margin: 12px;
}
.what-icon-fix img {
   margin: 11px;
}
.what-card p {
   color: #999999;
}

.what-icon:hover {
   background: #3baafe;
}
/**-----For How We Work -----**/
.how {
   margin: 60px 0;
   background: url(../images/img-work.jpg) repeat;
   padding: 84px 0;
}
.how article {
   margin: 0 40px;
   background: #ebebeb;
   padding: 40px 30px;
   max-width: 800px;
}
.how article h2,
h3 {
   color: #777777;
}
.how article p {
   color: #999999;
}
.how article h2 {
   margin-bottom: 20px;
}
.how article h2 span {
   position: relative;
}
.how article h2 .under-line {
   background: #3baafe;
   position: absolute;
   top: 34px;
   left: 30px;
}
.how-card {
   margin: 40px 15px 40px 0;
}
.how-card-icon {
   width: 37px;
   height: 37px;
   background: #ffffff;
   border-radius: 50%;
   margin-right: 20px;
   text-align: center;
}
.how-card-icon img {
   margin-top: 10px;
}
.how-card-content {
   width: 60%;
}
/**-----For Meet Our Team -----**/
.team {
   margin: 40px 0;
}
.team-content {
   margin: 0 30px;
}
.team-cards {
   text-align: center;
}
.team-card {
   display: inline-block;
   width: 100%;
   margin: 72px 10px;
   background: #f5f5f5;
   text-align: center;
}
.team-card-images {
   display: inline-block;
   width: 0 40px;
   margin: -30px 0;
}

.team-image {
   width: 155px;
   height: 180px;
   overflow: hidden;
   border: 10px solid #e6e6e6;
   margin-left: 30px;
}
.team-image img {
   width: 155px;
}
.team-social {
   margin: 0 0 45px 24px;
}
.team-social div {
   border-radius: 50%;
   width: 36px;
   height: 30px;
   display: inline-block;
   text-align: center;
   margin: 8px 4px;
   background: #ffffff;

   padding-top: 12px;
}

.team-card-content {
   display: inline-block;
   vertical-align: top;
   width: 60%;
   text-align: start;
}
.team-name {
   padding: 15px 15px;
   width: 150px;
   background: #ffffff;
   font-size: 1em;
   clip-path: polygon(0 0, 100% 0, 91% 100%, 0 100%);
   color: #777777;
   margin: 20px 0 0 -4px;
}

.team-position {
   padding: 13px 15px;
   width: 125px;
   margin: -11px 0 0 -4px;
   background: #e6e6e6;
   font-size: 0.75em;
   clip-path: polygon(0 0, 100% 0, 91% 100%, 0 100%);
}
.team-card-content p {
   margin: 15px 0 15px 20px;
   font-size: 0.875em;
}
.team-card-content .team-position,
p {
   color: #999999;
}
.team-name:hover {
   cursor: pointer;
   color: #3baafe;
}

/*For Icon Effects*/
.team-facebook-active,
.team-twitter-active,
.team-gmail-active {
   display: none;
}
.team-facebook:hover .team-facebook-inactive,
.team-twitter:hover .team-twitter-inactive,
.team-gmail:hover .team-gmail-inactive {
   display: none;
}
.team-facebook:hover .team-facebook-active,
.team-twitter:hover .team-twitter-active,
.team-gmail:hover .team-gmail-active {
   display: inline-block;
   cursor: pointer;
}

/**-----For Quality of Our Work-----**/
.quality {
   margin: 30px 0;
   background-color: #fafafa;
}

.quality-content {
   margin: 0 30px;
   padding-bottom: 30px;
}
.quality-content article {
   margin: 30px;
}
.quality-img {
   padding: 40px 0px;
}
.quality-img img {
   width: 100%;
   height: auto;
}
.quality-text h2 {
   color: #ffffff;
}
.quality-text h2 span {
   position: relative;
}
.quality-text h2 .under-line {
   background: #3baafe;
   position: absolute;
   top: 36px;
   left: 30px;
}
.quality-desctiption {
   margin: 20px 0;
}

.quality-points {
   margin: 20px 0;
   width: 100%;
}
.quality-point {
   margin: 40px 0;
}
.quality-point-img {
   width: 36px;
   height: 36px;
   background: #ffffff;
   border-radius: 50%;
   display: block;
}
.quality-point-img img {
   margin: 10px;
}
.quality-point p {
   width: 80%;
   margin-left: 20px;
}
/**-----For Our Portfolio-----**/
.portfolio {
   margin: 30px 0;
}

.portfolio-content {
   margin: 0 30px;
}
.portfolio-content .section-header .under-line {
   top: 34px;
   left: 80px;
}
.portfolio ul {
   margin: 30px 0;
   text-align: center;
   display: block;
}
.portfolio ul li a {
   padding: 10px 30px;
   background: #f5f5f5;
   display: inline-block;
   margin: 4px;
   font-size: 0.75em;
   color: #777777;
   transition: 0.3s;
}
.portfolio ul li a:hover {
   background: #3baafe;
   box-shadow: inset 0 0 0 4px #eeeeee;
   font-size: 0.875em;
}
.portfolio-image-list {
   text-align: center;
}
.portfolio-img {
   overflow: hidden;
   width: 289px;
   height: 210px;
   display: inline-block;
   margin-bottom: -4px;
   position: relative;
}
.portfolio-hover {
   background: #3baafe;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0px;
   left: 0px;
   opacity: 0;
   transition: 0.4s;
}
.portfolio-hover-img {
   width: 41px;
   height: 41px;
   background: #ffffff;
   border-radius: 50%;
   display: inline-block;
   margin-top: 25%;
   transition: 0.4s;
}
.portfolio-hover-img img {
   padding: 11px;
}
.portfolio-img:hover .portfolio-hover {
   opacity: 90%;
}
.portfolio-hover-img :hover {
   background: #eeeeee;
   border-radius: 50%;
}
/**----- For Best Work Enviromnent -----**/
.env {
   margin: 52px 0;
   background: url("../images/work-env.jpg") repeat top left;
}
.env-background {
   background: #313030;
   width: 100%;
}
.env-content {
   background: #313030;
   padding: 30px;
   max-width: 555px;
}
.env-content h3 {
   color: #ffffff;
   margin: 30px 0;
}
.env-content p {
   font-size: 0.875em;
   color: #999999;
}
.env-word {
   position: relative;
}
.env-word .under-line {
   position: absolute;
   background: #3baafe;
   top: 30px;
   left: 88px;
}
.env-description {
   margin: 30px 0;
}

.env-cards article {
   display: inline-block;
   width: 100%;
   margin: 10px;
}
.env-cards h3 {
   margin: 20px 0;
   font-size: 0.875em;
}
.env-cards article h3 span {
   width: 18px;
   height: 18px;
   margin: 8px;
}
/**-----For From Our Blog ----**/

.blog {
   margin: 30px 0;
}

.blog-cards {
   margin: 30px 0;
   text-align: center;
}
.blog-cards article {
   width: 270px;
   height: 370px;
   margin: 16px 9px;
   display: inline-block;
}

.blog-card-details h3 {
   font-size: 0.875em;
   background: #f5f5f5;
   margin-top: -8px;
   padding: 10px 16px;
   text-align: start;
}
.blog-card-details p {
   font-size: 0.875em;
   padding: 10px 16px;
   background: #fafafa;
   text-align: start;
}
.blog-card-footer,
.blog-card-footer p {
   background: #f5f5f5;
   font-weight: 600;
}
.blog-readmore {
   transition: 0.3s;
}

.blog-readmore-icon {
   width: 10px;
   height: 10px;
}
.blog-readmore-active {
   display: none;
}
.blog-readmore:hover {
   cursor: pointer;
   color: #3baafe;
}
.blog-readmore:hover .blog-readmore-inactive {
   display: none;
}
.blog-readmore:hover .blog-readmore-active {
   display: inline;
}

.blog-footer {
   padding: 0 100px;
}
.blog-view-all {
   font-size: 0.875em;
   font-weight: 600;
   padding: 10px 30px;
   border: none;
   background: #555555;
   color: #ffffff;
   transition: 0.4s;
}
.blog-view-all:hover {
   background: #999999;
   box-shadow: inset 0 0 0 4px #ffffff;
}
/**-----For Stories-----**/
.stories {
   margin: 60px 0 0 0;
   background: #f5f5f5; /* fallback for old browsers */
   background: -webkit-linear-gradient(
      to bottom,
      #fefefe,
      #f5f5f5
   ); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
      to bottom,
      #fefefe,
      #f5f5f5
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.stories-content {
   text-align: center;
}
.stories-content article {
   display: inline-block;
}
.stories-card-1 {
   text-align: start;
   padding: 60px 10px 0 0;
}
.stories-speechbubble {
   background: #fff;
   padding: 24px;
   border-radius: 5px;
}
.speech-bubble-quote {
   margin-top: -50px;
}
.stories-speech-txt {
   padding: 12px;
}
.speech-bubble-comma {
   display: none;
}
.stories-details {
   text-align: end;
}
.stories-details h4 {
   color: #777777;
}
.stories-card-2 {
   height: 500px;
   overflow: hidden;
}
.stories-card-3 {
   display: grid;
   place-items: center;
}

.stories-img {
   width: 134px;
   height: 134px;
   position: relative;
   overflow: hidden;
   border-radius: 50%;
   border: 8px #fff solid;
   margin: 20px;
   display: inline-block;
}

.stories-img img {
   display: inline;
   margin: 0 auto;
   margin-left: -25%;
   height: 100%;
   width: auto;
}

/**----For Our Pricing-----**/
.price {
   margin: 50px 0;
}
.price .section-header .under-line {
   top: 35px;
   left: 58px;
}
.price-cards {
   text-align: center;
   margin: 30px 5px;
}
.price-cards article {
   width: 264px;
   display: inline-block;
   margin: 10px;
}
.price-cards article * {
   line-height: 2.5em;
}
.price-card-header {
   background: #b6b6b6;
   color: #ffffff;
   transition: 0.3s;
}
.price-bg-light {
   background: #fafafa;
   padding: 5px 0;
}
.price-bg-dark {
   background: #f5f5f5;
   padding: 5px 0;
}

.price-bold {
   font-size: 2.25em;
   font-weight: 700;
   margin: 0 4px;
}
.price-card-footer {
   background: #e6e6e6;
   color: #777777;
   transition: 0.3s;
}
.price-cards article:hover .price-card-header {
   color: #3baafe;
   cursor: pointer;
}
.price-cards article:hover .price-card-footer {
   background: #3baafe;
   color: #ffffff;
   cursor: pointer;
}
/**-----For Some Fun Facts**/

.facts {
   margin: 30px 0;
   background: #000000;
   color: #ffffff;
   text-align: center;
   padding-bottom: 40px;
}

.facts h2 {
   padding: 42px 0px;
}
.facts article {
   display: inline-block;
   margin: 20px;
}
.facts-icon {
   margin: 8px 8px;
   padding: 0 16px;
   border-right: 2px solid #ffffff;
}

.fact-num {
   color: #ffffff;
   display: block;
   text-align: start;
}
.fact-text {
   text-align: start;
   color: #ffffff;
   text-align: start;
}
/**-----For Partners -----**/
.partners {
   margin: 30px 0;
}
.partners .section-header .under-line {
   top: 35px;
   left: 84px;
}

.partners article {
   text-align: center;
   margin: 40px 0px;
}
.partners-img {
   height: 115px;
   overflow: hidden;
   margin: 10px;
   display: inline-block;
}
/**-----For Footer------**/
footer {
   margin: 30px 0 0 0;
   background: #555555;
   text-align: center;
}
.footer {
   padding: 20px 0;
   margin: 0 30px;
}
.footer-cards article {
   display: inline-block;
   text-align: start;
   margin: 0 20px 10px 0;
}

.footer-logo {
   margin: 18px 0;
}
.footer-logo .icon-sog {
   width: 20px;
   height: 20px;
   margin: 4px;
}
.footer-logo .logo-sog {
   width: 141px;
   padding: 0px;
   margin: 5px;
}

.footer-card1 p {
   margin: 15px 0;
}
.footer-social {
   margin: 15px 0px;
}

.footer-cards h3 {
   color: #ffffff;
   margin: 32px 0;
}
.footer-address {
   margin: 32px 0;
}
.footer-email {
   margin: 20px 0;
}
.footer-card2 span {
   margin: 0 8px 0 0;
}
.footer-phone1 {
   margin-top: 20px;
}
.footer-phone2 {
   margin-bottom: 20px;
   padding-left: 28px;
}
.footer-card3 p {
   padding: 3px 0 2px 0;
}
.footer-card4 form input {
   background: #b6b6b6;
   border: none;
   outline: none;
   padding: 10px;
   margin: 8px 0;
}

.footer-form1 {
   width: 100%;
}

.footer-card4 form textarea {
   background: #b6b6b6;
   border: none;
   outline: none;
   padding: 12px;

   width: 93%;
   height: 58px;
}
.footer-form3 input {
   width: 100%;
   transition: 0.4s;
}
.footer-form3 input:hover {
   background: #777777;
}
.footer-seperator {
   width: 100%;
   height: 2px;
   background: #868686;
}
.copyright {
   margin: 8px;
   padding: 8px;
}
