/**----- For What We DO -----**/
.what {
   margin: 40px 0;
}
.what article {
   margin: 0 30px;
}
.what-items {
   text-align: center;
}
.what-card {
   width: 270px;
   margin: 30px 0px;
   display: inline-block;
   text-align: start;
}
.what-card-header h3 {
   margin: 10px;
   color: #555555;
}
.what-icon {
   width: 43px;
   height: 43px;
   background: #555555;
   border-radius: 50%;
   text-align: center;
   display: inline-block;
   margin-right: 10px;
   transition: 0.3s;
}
.what-icon img {
   margin: 12px;
}
.what-icon-fix img {
   margin: 11px;
}
.what-card p {
   color: #999999;
}

.what-icon:hover {
   background: #3baafe;
}
@media only screen and (min-width: 768px) {
   .what-card p {
      font-size: 0.75em;
   }
}
