/**-----Why Choose Us-----**/
.why {
   background: #8e9eab; /* fallback for old browsers */
   background: -webkit-linear-gradient(
      to right,
      #8e9eab,
      #eef2f3
   ); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(
      to right,
      #8e9eab,
      #eef2f3
   ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.why article {
   background: #f5f5f5;
   margin: 0 30px;
   padding: 32px 0; /*Increase at larger screens*/
}
.why h2,
.why-description,
.why-details {
   margin: 32px; /*Increase at larger screens*/
}
.why h2 {
   color: #ffffff;
}
.why article h2 .under-line {
   background: #3baafe;
   margin: 8px 45%;
}

.why-cards {
   width: 100%;
   margin-bottom: 32px;
}
.why-card-description {
   width: 200px;
   margin: 0 20px;
}
.why-icon {
   width: 60px;
   height: 60px;
   background: #ffffff;
   text-align: center;
}
.why-icon img {
   margin: 16px 13px;
}

.why article p {
   color: #999999;
}
.why h2:hover {
   color: #3baafe;
}
.plane-active {
   display: none;
}
.icon-plane:hover .plane-inactive {
   display: none;
}
.icon-plane:hover .plane-active {
   display: inline;
}
.anchor-active {
   display: none;
}
.icon-anchor:hover .anchor-inactive {
   display: none;
}
.icon-anchor:hover .anchor-active {
   display: inline;
}
.code-active {
   display: none;
}
.icon-code:hover .code-inactive {
   display: none;
}
.icon-code:hover .code-active {
   display: inline;
}
.wheel-active {
   display: none;
}
.icon-wheel:hover .wheel-inactive {
   display: none;
}
.icon-wheel:hover .wheel-active {
   display: inline;
}
