/**-----Why Choose Us-----**/
.why {
   background: url("../images/portfolio-img2.jpg") repeat;
   text-align: center;
}
.why article {
   background: #f5f5f5;
   margin: 0 30px;
   padding: 32px 0;
   max-width: 720px;
   display: inline-block;
   text-align: start;
}
.why h2,
.why-description,
.why-details {
   margin: 32px; /*Increase at larger screens*/
}
.why h2 {
   color: #ffffff;
}
.why-details {
   text-align: center;
}
.why article h2 span {
   position: relative;
}
.why article h2 .under-line {
   background: #3baafe;
   position: absolute;
   top: 36px;
   left: -8px;
}

.why-cards {
   margin-bottom: 32px;
   display: inline-block;
   text-align: start;
}
.why-card-description {
   width: 200px;
   margin: 0 20px;
}
.why-icon {
   width: 60px;
   height: 60px;
   background: #ffffff;
   text-align: center;
}
.why-icon img {
   margin: 16px 13px;
}

.why article p {
   color: #999999;
}
.why h2:hover {
   color: #3baafe;
}
.plane-active {
   display: none;
}
.icon-plane:hover .plane-inactive {
   display: none;
}
.icon-plane:hover .plane-active {
   display: inline;
}
.anchor-active {
   display: none;
}
.icon-anchor:hover .anchor-inactive {
   display: none;
}
.icon-anchor:hover .anchor-active {
   display: inline;
}
.code-active {
   display: none;
}
.icon-code:hover .code-inactive {
   display: none;
}
.icon-code:hover .code-active {
   display: inline;
}
.wheel-active {
   display: none;
}
.icon-wheel:hover .wheel-inactive {
   display: none;
}
.icon-wheel:hover .wheel-active {
   display: inline;
}

@media only screen and (min-width: 768px) {
   .why article {
      padding: 48px 0;
   }
   .why h2,
   .why-description,
   .why-details {
      margin: 48px;
   }
}
