.carousel-container {
   position: relative;
   overflow: hidden;
   width: 600px;
   margin: 0 auto;
}

.carousel-img-wrapper {
   position: absolute;
   left: 0;
}

.carousel-img-wrapper img {
   float: left;
}

.dot-active {
   background: #fff;
}
