.carousel-container {
   position: relative;
   overflow: hidden;
   margin: 0 auto;
}
.carousel-img-wrapper {
   position: absolute;
   overflow: auto;
   left: 0;
}
.carousel-image-wrapper::after {
   clear: both;
   content: "";
   display: table;
}
.carousel-img-wrapper img {
   float: left;
}

.dot-active {
   background: #fff;
}
