.main_wraper {
   min-width: 1002px;
}
.container {
   background: inherit;
   width: 940px;
   margin: 0 auto;
}
.clearfix {
   overflow: auto;
}
.clearfix:after {
   content: "";
   clear: both;
   display: table;
}
