/* For Main Header*/
a {
   text-decoration: none;
   color: black;
}
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.add_blue {
   color: #2f9eb1;
   font-weight: 600;
}
.add_green {
   color: #6f961f;
   font-weight: 600;
}
.add_red {
   color: #d43f1e;
   font-weight: 600;
}
/* For Main Header*/
.header_main {
   background: #7dd9e8;
   height: 85px;
}

.logo {
   width: 250px;
   margin: 20px 30px 16px 0;
   float: left;
}
.search {
   width: 336px;
   padding: 40px 0 20px 0;
   float: left;
}
.search_form {
   border: 0;
   width: 270px;
   float: left;
}
.search_bar {
   width: 220px;
   height: 20px;
   font-size: 8px;
   display: block;
   background: transparent;
   border: none;
   padding: 0 0 0 10px;
   float: left;
}
.search_form_left {
   background: url(../images/search_from_left.png) no-repeat top left;
   background-color: #caeff7;
   height: 20px;
}
.search_icon {
   width: 21px;
   height: 20px;
   background: url(../images/search_icon_background.png) no-repeat top left;
   float: right;
   border: none;
   border-left: 1px solid #7dd9e8;
}
.search_cancel {
   width: 16px;
   height: 20px;
   background: url(../images/search_reset.png) no-repeat top left;
   float: right;
   border: 0px;
}

.search_btn {
   width: 53px;
   float: right;
}
.search_btn_right {
   background: url(../images/search_right.png) no-repeat top right;
}
.search_btn_left {
   background: url(../images/search_left.png) no-repeat top left;
}
.search_btn {
   background: #284e57;
}
.search_text {
   text-decoration: none;
   color: white;
   padding: 3px 7px 3px 10px;
   font-size: 11px;
   display: block;
}

.login_nav {
   width: 144px;
   float: right;
   margin: 28px 0 0 0;
   font-weight: bold;
   text-align: right;
}
.user_name {
   float: right;
}

.nav {
   float: right;
}
.nav ul {
   display: block;
}
.nav li {
   padding: 5px;
   border-right: 1px solid black;
   display: block;
}
.nav .rm_padding {
   padding-right: 0px;
   border: none;
}
.nav_item a {
   display: block;
}
.nav_item a:hover {
   color: white;
}
.nav_item {
   float: left;
   font-size: 11px;
}

/* For Sub Header */
.header_sub {
   background: #f5f5f5;
   width: 100%;
   height: 41px;
}
.sub_nav {
   display: block;
}
.sub_nav li {
   margin: 0;
}
.sub_nav a {
   float: left;
   padding: 12px 8px;
}
.sub_nav a:hover {
   background: #fff;
}
.notification {
   float: right;
}
.notification li {
   float: left;
   margin: 0;
}
.notification a {
   float: right;
   padding: 10px 8px;
}
.icon_topic {
   background: url(../images/noti_topics.png) no-repeat top left;
   width: 20px;
   height: 20px;
   float: left;
}
.icon_request {
   background: url(../images/noti_request.png) no-repeat top left;
   width: 20px;
   height: 20px;
   float: left;
}
.notification_active {
   font-weight: bold;
}
/* For Body*/
.body {
   width: 100%;
   margin: 30px 0px;
}
.body_sidebar {
   width: 195px;
   float: left;
   background: #f5f5f5;
}
.body_sidebar_title {
   background: #2fc1da;
   font-size: 18px;
   color: #fff;
   width: 100%;
}
.body_sidebar_title p {
   padding: 10px 10px;
}
.body_sidebar_item a {
   font-size: 12px;
   display: block;
   padding: 10px 6px;
}
.body_sidebar_item a:hover {
   background: #fff;
}
.sidebar_text {
   width: 150px;
   margin: 5px;
}
.sidebar_icon {
   width: 20px;
   margin: 5px;
}
.body_sidebar_item p {
   float: left;
}
.body_sidebar_item span {
   float: right;
}
.sidebar_download {
   background: url(../images/sidebar_download.png) no-repeat top left;
   width: 12px;
   height: 12px;
}
.sidebar_burger {
   background: url(../images/sidebar_burger.png) no-repeat top left;
   width: 12px;
   height: 7px;
}

.body_main {
   width: 720px;
   height: 100%;
   float: right;
}
.main {
   width: 520px;
   height: 100%;
   float: left;
}
.main_title {
   width: 100%;
   font-size: 28px;
}
.main_header {
   width: 100%;
   height: 60px;
   border-bottom: 2px solid #2fc1da;
}

.main_header_left {
   float: left;
   background: url(../images/main_header_left.png) no-repeat top left;
   background-color: #f5f5f5;
   width: 49.5%;
   height: 100%;
}
.main_header_right {
   float: right;
   background: url(../images/main_header_right.png) no-repeat top right;
   background-color: #f5f5f5;
   width: 49.5%;
   height: 100%;
}
.header_title {
   text-align: center;
   padding: 14px 0px;
   font-weight: 550;
   font-size: 13px;
   color: #333333;
}
.header_item_left {
   text-align: center;
   width: 250px;
   float: left;
}
.header_item_right {
   text-align: center;
   width: 250px;
   float: right;
}
.header_item {
   display: inline-block;
   background-color: #dddddd;
   font-size: 13px;
   margin-right: 8px;
}
.item_left {
   background: url(../images/subtitle_inactive_left.png) no-repeat top left;
   padding-left: 15px;
}
.item_right {
   background: url(../images/subtitle_inactive_right.png) no-repeat top right;
}
.item_right a {
   padding: 0 15px 0 0px;
}
.active_item {
   display: inline-block;
   background-color: #2fc1da;
   font-size: 13px;
   margin-right: 8px;
}
.active_left {
   background: url(../images/subtitle_active_left.png) no-repeat top left;
}

.active_right {
   background: url(../images/subtitle_active_right.png) no-repeat top right;
   padding: 0 15px;
}

.main_content {
   width: 100%;
}
.content_item {
   width: 100%;
   height: 70px;
   padding: 15px 0px;
}
.content_img {
   width: 70px;
   height: 100%;
   float: left;
}
.content_info {
   width: 440px;
   height: 100%;
   float: right;
}
.content_divider {
   background: #d8d8d8;
   width: 100%;
   height: 1px;
}
.content_notification {
   margin: 0px 1px 1px 5px;
   font-weight: bold;
   font-size: 12px;
}
.content_title {
   margin: 1px 1px 1px 5px;
   font-weight: 600;
}
.content_details li {
   float: left;
   font-size: 15px;
   margin: 1px 1px 1px 5px;
   padding-right: 10px;
   border-right: 1px solid #000;
   font-size: 12px;
}
.content_details .rm_padding {
   border: none;
}
.content_topic {
   display: block;
   margin: 1px 1px 1px 5px;
   font-size: 12px;
}
.sidebar {
   background: #f5f5f5;
   width: 175px;
   height: 608px;
   float: right;
}

/* For Footer*/
footer {
   background: #727272;
   width: 100%;
}
.footer_nav {
   margin: 15px 0;
   padding-bottom: 15px;
}
.footer_nav li {
   list-style-type: disc;
   color: #fff;
   float: left;
   margin-right: 30px;
}
.footer_nav a {
   font-size: 11px;
   color: #fff;
}
.copyright {
   font-size: 11px;
   color: #fff;
   width: 100px;
   float: right;
}
