@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
}
ul li {
	list-style: none;
}
#container {
	border: 1px #000000 solid;
	max-width: 1176px;
	height: 494px;
	margin: 20px auto;
}

.instructions {
	margin: 0 auto;
	text-align: center;
	line-height: 2em;
	background-color: #663399;
	width: 720px;
	border-radius: 20px;
}
.instructions h2 {
	color: #ffffff;
	padding: 20px 0 0 0;
}

.cards {
	text-align: start;
	display: flex;
	justify-content: center;
}

.card {
	margin: 20px;
}

.card h3 {
	text-align: center;
	color: #bbbbbb;
}

.card ul li {
	color: #ffffff;
}

.card ul li span {
	font-weight: bold;
}
