@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
* {
	margin: 0;
	padding: 0;
}
#container {
	border: 1px #000000 solid;
	max-width: 1176px;
	height: 494px;
	margin: 20px auto;
}
